div {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
div {
    background-color: blueviolet;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-size: 14px;
}
td>p {
    background-color: chocolate;
}